<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissões necessárias para anúncios -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RewizaMone"
        tools:targetApi="31">

        <!-- App ID do AdMob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4650383827044133~3928710173" />

        <!-- Tela de Login: Agora é a tela principal -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <!-- Declaração da WithdrawActivity -->
        <activity android:name=".WithdrawActivity"></activity>
        <!-- Tela de Registro -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />

        <!-- MainActivity: Não é mais a tela inicial, apenas removemos o intent-filter -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

    </application>

</manifest>
